
.chess-board {
    display: inline-block;
    margin-top: 50px;
    border: 2px solid black;
  }
  
  .square {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .piece {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .w {
    color: white;
  }
  
  .b {
    color: black;
  }
  