
.chess-board {
  display: block;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.piece {
  display: flex;
  justify-content: center;
  align-items: center;
}

.w {
  color: white;
}

.b {
  color: black;
}
